body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/1732336.jpg");

}

.weather-app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
    height: 600px;
    width: 400px;
    border-radius: 15px;
    background-size: cover;

}

.weather-app__header {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.weather-app__information {
    color: white;
    margin-bottom: 180px;
}

input {
    height: 30px;
    background-color: rgb(166, 210, 218);
    color: white;
    font-size: 18px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-left: 5px;
    outline: none;
    border: none;
}

button {
    height: 32px;
    background-color: rgb(192, 132, 21);
    color: white;
    outline: none;
    font-size: 18px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
}

button:hover {
    background-color: rgb(187, 122, 1);
}

.weather-app__answer-field-item {
    margin-top: 30px;
    color: white;
    font-size: 24px;
    margin-left: -40px;
}

.weather-app__ip-location {
    margin-top: 20px;
}

.weather-app__ip-location-button {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: rgb(24, 168, 159);
}

.weather-app__ip-location-button:hover {
    background-color: rgb(0, 155, 144);
}
